@model IntroUi.Models.Artist
@{
    ViewData["Title"] = "Detalle de Artista";
}

<h1>Albumes de @Model.Name</h1>

<table class="table table-striped">
    <thead>
        <th>Album</th>
    </thead>
    <tbody>
        @foreach (var item in Model.Albums)
        {
            <tr>
                <td>@Html.ActionLink(@item.Title, "Details", "Album", new { albumId = item.AlbumId })</td>
            </tr>
        }
    </tbody>
</table>